@import "~bootstrap/scss/bootstrap.scss";
@import "primereact/resources/themes/lara-light-indigo/theme.css"; //theme
@import "primereact/resources/primereact.min.css"; //core css
@import "primeicons/primeicons.css"; //icons

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.imgBackIcon {
  width: 50px;
  margin-left: 20px;
}

.headerTextRight {
  text-align: end;
  font-weight: bold;
  font-size: 29px;
}

button {
  margin: 0 5px;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: var(--project-primary-color);
  border: 1px solid var(--project-primary-color);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.secondary {
  background-color: var(--project-primary-color-light);
  border: 1px solid var(--project-primary-color-light);
}

button.active {
  background-color: var(--project-primary-color);
  border: 1px solid var(--project-primary-color);
}

input,
select {
  width: 100%;
  padding: 5px 15px;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  border-radius: 15px 5px 5px 5px;
  border-color: var(--project-primary-color);
  box-shadow: inset 5px 4px 7px 0px var(--project-primary-color);
  margin: 5px 0;
}

.customerRegistration {
  width: 80%;
  margin: auto;
  height: 100%;
}

.centerAlignItems {
  align-items: center;
}

.centerAlignText {
  text-align: center;
}

.list-group-item {
  background-color: var(--background-primary-color);
}

.list-group-item.active {
  font-weight: bold;
  background-color: var(--project-primary-color);
  border-color: var(--project-primary-color);
}

label {
  font-weight: bold;
}

*:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
}
