:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --project-primary-color: rgb(70, 88, 72);
  --background-primary-color: rgb(182, 205, 189);
  --project-primary-color-light: rgb(70 88 72 / 52%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}

html,
body {
  overflow: hidden;
  padding: 0 !important;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary-color);
}

body {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 5px 5px;
  box-sizing: border-box;
}

footer,
header {
  flex: 0 0 auto;
}

main {
  flex: 1 1 auto;
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 8rem);
  margin: 5px;
}

button {
  margin: 5px;
}

.card {
  box-shadow: inset 0 0 10px var(--project-primary-color);
  margin: 5px;
  padding: 10px 5px;
  background-color: var(--background-primary-color);
}

table {
  padding: 10px 0;
  width: 100%;
  height: 100%;
  thead {
    font-weight: bold;
  }
  thead,
  tbody {
    text-align: center;
  }
}

table,
th,
td {
  border: 2px solid var(--project-primary-color);
}
